<template>
    <div class="header-container">
        <h2>Where in the World?</h2>
        <h2>Dark Mode</h2>
    </div>
</template>

<style>
.header-container{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    margin-top: -55px;
    padding: 0 50px;
    
}

.header-container h2{
    margin-left: 35px;
    margin-right: 30px;
}

</style>